diffimg
cartopy
matplotlib
numpy
ffmpeg-python
pygmt
pygmt-helper
source-modelling
workflow @ git+https://github.com/ucgmsim/workflow.git@pegasus
qcore-utils>=2025.12.2
geopandas
pandas
shapely
scipy >= 1.15.0
pooch
pytest
pytest-cov
pytest-xdist
typer
tqdm
