diffimg
cartopy
h5py
matplotlib
numpy
ffmpeg-python
pygmt
pygmt-helper
source-modelling
workflow @ git+https://github.com/ucgmsim/workflow.git
qcore-utils
geopandas
pandas
shapely
scipy >= 1.15.0
pooch
pytest
pytest-cov
pytest-xdist
typer
tqdm
rpy2
xarray[io]
