diffimg
cartopy
matplotlib
numpy
ffmpeg-python
pygmt
pygmt_helper @ git+https://github.com/ucgmsim/pygmt_helper.git
source_modelling @ git+https://github.com/ucgmsim/source_modelling.git
workflow @ git+https://github.com/ucgmsim/workflow.git@pegasus
qcore @ git+https://github.com/ucgmsim/qcore.git
geopandas
pandas
shapely
scipy >= 1.15.0
pooch
pytest
pytest-cov
pytest-xdist
typer
tqdm
rpy2
xarray[io]
